# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

*.csv
*.txt
*.ascii

*.log
*.xlsx
*.tex
*.pdf

# for excluding the uncompressed dataset files.
*.tar.gz
*.DS_Store
*._*

*.pkl
*.pickle
temp.*

*.inter
*.item
*.user
*.dat

environments/ML_1M/README
environments/ML_1M/data/
environments/KuaiRand_Pure/data/
environments/Zhihu_1M/data/

*.zip
*.tar
*.gz
*.tgz
*.rar
*.7z
*.pt


/saved_models
/chkpt

